
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Agency - Start Bootstrap Theme</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/client/css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="assets/img/navbar-logo.svg" alt="" /></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ml-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/activities">activitées</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/activities#portfolio">Atheletes</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/activities#about">Hotels</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/activities#team">Produits</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/gg/clientgroups">Groups</a></li>

            </ul>

        </div>
    </div>
</nav>

<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Welcome To *********** Our World!</div>
        <div class="masthead-heading text-uppercase"></div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>

    </div>
</header>

<hr>
<form action="">
    <label for="fname">recherche:</label><br>
    <input type="text" id="rech" name="search" ><br>

    <input type="submit" value="recherch">
</form>

{% block tbody %}

    <div class="container">
    <div class="row">

        {% for group in groups %}

        <div class="card" style="width:300px">

            <div class="card-body">
                <h4 class="card-title">{{ group.nom }}</h4>
                <p class="card-text">{{ group.description }}</p>
                <p class="card-text">{{ group.lieu }}</p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-left">Copyright © Your Website 2020</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-right">
                        <a class="mr-3" href="#!">Privacy Policy</a>
                        <a href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>