<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}One Page Wonder - Start Bootstrap Template{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/visiteur/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/visiteur/css/one-page-wonder.min.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#"><img  class="img11" src="/visiteur/img/extremetunisia.png" ></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="inscription">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cr/clientreclamation">Reclamation</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/visiteur/img/a3.jpg/1200*800" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/visiteur/img/a2.jpg/1200*800" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/visiteur/img/a1.jpg/1200*800" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://www.redbull.com/mea-ar/tags/motoring">
                <img src="/visiteur/img/b1.jpeg" alt="Lights" width="360.25" height="278.66" >
                <div class="caption">

                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://www.redbull.com/mea-ar/%D8%A3%D8%AD%D8%AF%D8%A7%D8%AB-%D8%A3%D8%B3%D8%B9%D8%AF%D8%AA%D9%86%D8%A7-%D9%81%D9%8A-%D8%A7%D9%84%D9%85%D8%A7%D8%B6%D9%8A">
                <img src="/visiteur/img/b2.jpeg" alt="Nature"width="360.25" height="278.66">
                <div class="caption">

                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://www.redbull.com/mea-ar/%D8%B9%D8%B1%D9%88%D8%B6-%D9%84%D8%A7-%D8%AA%D9%8F%D9%81%D9%88%D9%91%D8%AA-%D8%B9%D9%84%D9%89-%D8%B1%D9%8A%D8%AF-%D8%A8%D9%8F%D9%84">
                <img src="/visiteur/img/b3.jpeg" alt="Fjords" width="360.25" height="278.66">
                <div class="caption">

                </div>
            </a>
        </div>
    </div>
</div>
{% block tbody %}
{% endblock %}
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="/visiteur/img/01.jpeg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">For those looking for excitement...</h2>
                    <p>Extreme: Surfing. Surfing is a sport that is often considered as much an attitude or way of life as it is a sport. ... The extreme side of surfing today is trying to catch the biggest wave possible</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="/visiteur/img/02.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">We salute you!</h2>
                    <p>Snow Skiing is probably the most traditional and popular winter sport in the world. Snow skiing is a very popular recreational sport, but is also a competitive sport in the Olympics and the X Games.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="/visiteur/img/03.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Let there be rock!</h2>
                    <p> Skydiving is considered to be an extreme sport which takes a lot of courage but also gives you an adrenalin kick  which athletes jump out of an airplane at a certain altitude and perform acrobatic movements in free fall.</p>
                </div>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="/visiteur/img/04.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">And Roll !!!</h2>
                    <p> Extreme sports are getting more and more popular each day. Sand surfing, also known as sandboarding, is one of the newest extreme sports discovered in the search for adrenaline. Be ready to kick up some dust with sandboarding on the great sand dunes of the world. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="/visiteur/img/05.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Never Stop Dreaming</h2>
                    <p>Skateboarding is a freestyle sport where the limits are only imposed by the imagination and athletic ability of the athlete. Most skateboarding is done for recreation either on streets or at a skateboard park.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; EXTREMETUNISIA 2021</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/visiteur/vendor/jquery/jquery.min.js"></script>
<script src="/visiteur/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
